<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <nav>
      <a href="#">Home</a>
      <a href="about.html">About</a>
      <a href="#">Contact</a>
      <img id="icon" src="https://placehold.co/50x50" alt="" />
    </nav>
    <section id="card-section">
      <div class="container">
        <div id="title-card-list">
          <p>OUR PRODUCT</p>
        </div>
        <div id="card-list">
          <a href="#">
            <div id="card">
              <img src="https://placehold.co/150x150" alt="" />
              <div id="detail">
                <h4>Item1</h4>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Eligendi, ad!
                </p>
              </div>
            </div>
          </a>
          <a href="#">
            <div id="card">
              <img src="https://placehold.co/150x150" alt="" />
              <div id="detail">
                <h4>Item1</h4>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Eligendi, ad!
                </p>
              </div>
            </div>
          </a>
          <a href="#">
            <div id="card">
              <img src="https://placehold.co/150x150" alt="" />
              <div id="detail">
                <h4>Item1</h4>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Eligendi, ad!
                </p>
              </div>
            </div>
          </a>
          <a href="#">
            <div id="card">
              <img src="https://placehold.co/150x150" alt="" />
              <div id="detail">
                <h4>Item1</h4>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Eligendi, ad!
                </p>
              </div>
            </div>
          </a>
          <a href="#">
            <div id="card">
              <img src="https://placehold.co/150x150" alt="" />
              <div id="detail">
                <h4>Item1</h4>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Eligendi, ad!
                </p>
              </div>
            </div>
          </a>
          <a href="#">
            <div id="card">
              <img src="https://placehold.co/150x150" alt="" />
              <div id="detail">
                <h4>Item1</h4>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Eligendi, ad!
                </p>
              </div>
            </div>
          </a>
          <a href="#">
            <div id="card">
              <img src="https://placehold.co/150x150" alt="" />
              <div id="detail">
                <h4>Item1</h4>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Eligendi, ad!
                </p>
              </div>
            </div>
          </a>
          <a href="#">
            <div id="card">
              <img src="https://placehold.co/150x150" alt="" />
              <div id="detail">
                <h4>Item1</h4>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Eligendi, ad!
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </section>
  </body>

  <section id="picture-section">
    <div class="container">
      <div id="picture-box">
        <div id="img-sec">
          <img src="https://placehold.co/500x500" alt="" />
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
          tenetur qui atque aperiam quod provident harum nulla molestiae
          incidunt suscipit.
        </p>
      </div>
      <hr />
    </div>
  </section>

  <section id="info-section">
    <div class="container">
      <div id="info-grid">
        <img id="grid-item" src="https://placehold.co/400x400" alt="" />
        <p id="grid-item">YOUR STYLE</p>
        <p id="grid-item">SHOP NOW</p>
        <img id="grid-item" src="https://placehold.co/400x400" alt="" />
      </div>
    </div>
  </section>

  <footer>
    <div id="links">
      <a href="">Home</a>
      <a href="">About</a>
      <a href="">Contact</a>
      <a href="">Other</a>
    </div>
    <div id="img-section">
      <img src="https://placehold.co/50x50" alt="" />
      <img src="https://placehold.co/50x50" alt="" />
      <img src="https://placehold.co/50x50" alt="" />
    </div>
  </footer>
</html>

<style>
  * {
    box-sizing: border-box;
    margin: 0;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  @media (max-width: 768px) {
    nav {
      padding: 0 !important;
      flex-direction: column;
      /* align-content: stretch; */
      justify-items: stretch;
      a {
        display: block;
        padding: 1em !important;
        text-align: center;
      }

      #icon {
        display: none;
      }
    }

    #info-grid {
      grid-template-columns: 1fr !important;
      gap: 1em;
    }

    #links {
      flex-direction: column;
    }
  }

  /* -----------navbar------------- */
  nav {
    display: flex;
    width: 100%;
    background-color: black;
    padding: 0;
    margin: 0;
    align-items: stretch;
    padding-left: 30px;
    a {
      display: flex;
      padding: 2rem;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: white;
    }
    #icon {
      margin-left: auto;
      padding: 10px !important;
    }
    a:hover {
      background-color: orange;
      transform: scale(1.2, 1.2);
    }
  }
  /* -----------navbar------------- */

  /* -----------body--------------- */

  /* ------------------------------ */
  #card-section .container {
    background-color: gray;
    height: 500px;
    padding: 20px;
  }

  #card-list {
    display: flex;
    gap: 1em;
    align-items: center;
    overflow-x: auto;

    a{
      text-decoration: none;
      color: black;
    }
  }
  a #card {
    min-width: 250px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 1em;

    img {
      border-radius: 10px;
    }
  }
  #title-card-list {
    font-size: 2em;
    font-weight: border;
    color: white;
    margin-bottom: 10px;
  }
  /* ------------------------------ */

  /* ------------------------------ */
  #picture-box {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 1em;

    #img-sec {
      img {
        max-width: 100%;
      }
      display: flex;
      justify-content: center;
    }
    p {
      text-align: center;
    }
  }
  /* ------------------------------ */

  /* ------------------------------ */

  #info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;

    img {
      max-width: 100%;
    }
  }
  #grid-item {
    /* padding: 10px; */
    /* text-align: center; */
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bolder;
  }

  /* ------------------------------ */

  /* -----------body--------------- */

  /* -----------footer--------------- */

  footer {
    display: flex;
    background-color: black;
    align-items: center;
    /* height: 100px; */
    padding: 1em;
    gap: 1em;
    padding-left: 10px;

    #img-section {
      margin-left: auto;
      padding-right: 10px;
    }
    #links {
      display: flex;
      gap: 1em;
      margin-left: 1em;
      a {
        text-decoration: none;
        list-style: none;
        color: white;
      }
    }
    #img-section {
      display: flex;
      gap: 1em;
    }
  }
</style>
